@import "../../../styles/mixins_and_placeholders.module";
@import "../../../styles/variables.module";

.ProductsPage {
  margin-top: 136px;
  margin-bottom: 50px;

  .productsPage_container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'filters sort'
                          'filters products';
    grid-gap: 40px;


    .filters {
      //position: sticky;
      //align-self: start;
      //top: 0;
      //bottom: 0;
      grid-area: filters;
    }

    .sort_and_filters_wrapper {
      @include flex(space-between, flex-start, 20px);
      grid-area: sort;

      .currentFilters {
        flex-basis: calc(65% - 20px);
      }

      .sort {
        flex-basis: calc(35% - 20px);
      }
    }

    .products_list {
      @include flex(flex-start, flex-start, 4px);
      row-gap: 20px;
      flex-wrap: wrap;
      grid-area: products;
      align-self: start;
    }
  }
}