@import '../../../styles/variables.module';
@import '../../../styles/mixins_and_placeholders.module';

.CartPage {
  margin-top: 136px;
  margin-bottom: 50px;

  .cartPage_container {
    @include flex(space-between, flex-start, 30px, column);
    
    .cart_tittle{
      font-size: $fz-xl;
      line-height: $lh-xl;
      font-weight: 700;
    }

    .cart_wrapper{
      @include flex(space-between, flex-start, 30px);
      width: 100%;

      .products_list {
        flex-basis: calc(70% - 30px);
        @include flex(space-between, flex-start, 10px, column);

        li:not(li:first-child) {
          border-top: 1px solid transparentize($main-text-color, 0.7)
        }

        .products_list_tittles {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          gap: 20px;
          width: 100%;
          font-family: 'Rajdhani', sans-serif;
          font-size: $fz-s;
          line-height: $lh-s;
          font-weight: 700;
          color: transparentize($main-text-color, 0.4);

          .products_list_tittle:last-child {
            justify-self: end;
          }
        }
      }
    }

  }

}

.dialog{
  &_tittle {
    text-align: center;
  }


  &_btn{
    align-self: center;
    @extend %button;
    @extend %secondary-button-red;
  }

}

@media screen and (max-width: 768px) {
  .CartPage { 
    .cartPage_container { 
      .cart_wrapper{
        flex-direction: column;

        .products_list {
          .products_list_tittles {
            grid-template-columns: repeat(2, 1fr);

            .products_list_tittle:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }


}