@import '../../../styles/mixins_and_placeholders.module.scss';
@import '../../../styles/variables.module';

.FavouritesPage {
    margin-top: 136px;
    margin-bottom: 50px;
    
    .favourites_list{
        @include flex(flex-start, flex-start, 40px 4px);
        flex-wrap: wrap;
    }

    .favourites_title{
        font-size: $fz-xl;
        line-height: $lh-xl;
        font-weight: 700;
        margin-bottom: 30px;
    }
}