@import "../../styles/variables.module";

.Carousel {
  margin-top: 86px;

  .carousel_slide{
    position: relative;

    .carousel_img {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
    .carousel_text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Rajdhani', sans-serif;
      font-weight: 700;
      font-size: $fz-xxl;
      line-height: $lh-xxl;
      color: $secondary-text-color;
      text-align: center;
    }
  }


}