@import "./variables.module";

@mixin flex($jc:null, $ai:null, $gap:null, $fd: null) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

%button {
  @include flex(center, center, 4px);
  padding: 6px 16px;
  border-radius: 50px;
  font-size: $fz-xxs;
  line-height: $lh-xxs;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: 3px solid transparent;

}

%primary-button-black {
  color: $secondary-text-color;
  background-color: $overlay-bg;
  border: 3px solid $overlay-bg;

  &:hover {
    outline: 3px solid transparentize($overlay-bg, 0.8);
  }
}

%secondary-button-black {
  background-color: $secondary-text-color;
  color: $overlay-bg;
  border: 3px solid $overlay-bg;

  &:hover {
    outline: 3px solid transparentize($overlay-bg, 0.8);
  }
}

%primary-button-red {
  color: $secondary-text-color;
  background-color: $color-accent-1;
  border: 3px solid $color-accent-1;

  &:hover {
    outline: 3px solid transparentize($color-accent-1, 0.8);
  }
}

%secondary-button-red {
  background-color: $secondary-text-color;
  color: $color-accent-1;
  border: 3px solid $color-accent-1;

  &:hover {
    outline: 3px solid transparentize($color-accent-1, 0.8);
  }
}

%footer-info-tittle{
  font-size: $fz-m;
  line-height: 1.5;
  font-weight: 900;
  color: $secondary-text-color;
  padding-bottom: 16px;
}

%footer-info-text{
  font-family: 'Rajdhani', sans-serif;
  font-size: $fz-m;
  line-height: 1.5;
  font-weight: 600;
  color: $secondary-text-color;

}

%product-icon{
  transition: 0.2s ease-in-out;
  opacity: 1;

  &:hover{
    transform: scale(1.06);
    opacity: 0.7;
  }
}